#page-landing {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    background: #ccc;

}

.header-top {
    background-image: url(../imagens/bg-3.jpg);
    height: 500px;
    padding-top: 100px;
    background-attachment: cover;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.navigation-menu li{
    margin-left: 6px;
    display: inline-block;
    border: 1px solid white;
}

.navigation-menu ul {
    margin-top: -80px;
    text-align: right;
    margin-right: 30px;
}

.navigation-menu li a {
    text-decoration: none;
    color: #fff;
    padding: 14px;
    font-size: 14px;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, .2);
    text-transform: uppercase;
    display: block;
}

.navigation-menu li a:hover {
    background-color: rgba(0, 0, 0, .5);
}

.header-top-content {
    margin-top: 150px;
    color: #fff;
    text-align: center;
}

.header-top-content h1{
    text-transform: uppercase;
    text-shadow: 3px 3px 2px #232323;
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
    margin-top: 190px;
}

.header-top-content p {
    font-size: 20px;
    margin-top: 100px;
    padding: 15px;
    background-color: rgba(14, 14, 18, .6);
    border-bottom: 2px solid white;
    display: inline-block;
}

.card {
    width: 32%;
    float: left;
    box-sizing: border-box;
    margin-left: 1%; 
    
}

.card img {
    width: 100%;
    display: block;
       
}

.card p {
    padding: 20px;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
}

.main-content {
    width: 80%;
    margin: auto;
}

.content-section {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
    margin-bottom: 20px;
}


.header-content h2 {
    font-size: 25px;
    font-weight: 600;
    color: black;
    padding: 12px;
    background-color: rgba(238, 238, 238, .8);
    border-bottom: 2px solid #ccc;
        
}

.article-content {
    height: 160px;
}
.article-content p {
    margin-top: 20px;
    font-size: 16px;

}

.footer-content {
    padding: 30px;
    background-color: #6b6c68;
    margin-top: 15px;
}

.footer-content p {
    color: white;
    text-align: center;
    text-shadow: 3px 3px 2px #232323;
    font-size: 14px;
    
}